<div class="todo" id="{{todo().id}}">
  @if (!editState()){
    <div id="todo-upper">
      <h1 id="todo-title">{{todo().title}}</h1>
      <div id="todo-buttons">
        <button class="todo-btn" id="edit-btn" (click)="enterEditState()"><img src="assets/imgs/mingcute_pencil-fill.png"></button>
        <button class="todo-btn" id="delete-btn" (click)="deleteTask(todo().id)"><img src="/assets/imgs/gravity-ui_trash-bin.png"></button>
      </div>
    </div>
    <p id="todo-description">{{todo().description}}</p>
  } @else {
  <app-todo-item-edit-state (editState)="exitEditState($event)" [taskId]="todo().id" ></app-todo-item-edit-state>
  }
  <p id="todo-createdAt">Created At:{{todo().createdAt?.substring(0,10)}}</p>
</div>
