/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
app-root{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
app-register{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
app-login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
app-todos{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
app-todo-item{
  margin-top: 6%;
  width: 80%;
}
app-todo-item-edit-state{
  width: 80%;
  margin-bottom: 6%;
}

